
* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body
{
    display: flex;
    flex-direction: column;

    background-color: #181818;
    height: 100vh;
}

header
{
    height: 2em;
    width: 100%;
    background-color: rgb(54, 69, 202);
}

section
{
    width: 50%;
    margin: 5em auto auto auto;
    padding: 2em;
    
    color: #e9e9e9;
    background-color: #242424;

    border: 0.5px solid #383838;
    border-radius: 10px;
}

h2 {
    margin: 20px 0px 10px 0px;
}

#img_container
{
    padding: 10px;
    display: flex;
    justify-content: center;
}